.footer-nav-container {
  padding: 0;
  background-color: $cFooterNav;

  @include sp-wide {
    padding: 30px 0;
  }

  & > .list {
    display: flex;
    flex-direction: column;

    @include sp-wide {
      flex-direction: row;
      justify-content: center;
    }
  }

  & > .list > .item {
    @include sp-wide {
      margin-left: 40px;
    }
  }

  & > .list > .item:first-child {
    @include sp-wide {
      margin-left: 0;
    }
  }

  & > .list > .item > .link {
    padding: 1.2em 7% 1em 7%;

    @include sp-wide {
      padding: 0px;
    }
  }
}
