.news-container {
  padding: 70px 0;
  background-color: $cBgWhite;

  @include sp {
    padding: 110px 0;
  }

  & > .wrapper {
    margin: 0 auto;
    max-width: 790px;
    width: 90%;
  }

  & > .wrapper > .section-title > .title {
    padding-bottom: 17px;
  }

  & > .wrapper > .section-title {
    @include sp {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
