/* Setting Layer */

/* Base Color */
$cBase: #13191b;

/* black */
$black: #000;

/* gray */
$gray: #656c6e;

/* white */
$white: #ffffff;
$white-dr-white: #fafafa;

/* concept/news section */
$cBgWhite: #f6f6f6;

/* button color */
$cFaceBook: #4871a0;
$cTwitter: #70bdd3;
$cHatena: #2f9bcd;
$cLine: #8ec09d;

/* footer nav background */
$cFooterNav: #939899;

/* shadow color */
$black-shadow: rgba(0, 0, 0, 0.1);
