.header-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  @include pc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
  }

  & .logo-area {
    @include pc {
      margin-left: 7%;
    }
  }

  & .header-nav {
    @include pc {
      margin-top: 25px;
      margin-right: 7%;
    }
  }
}
